/client/node_modules
/client/build
/api/node_modules
/scraper/node_modules
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode/launch.json
.env
.env.production
.env.development
certbot-instructions.txt
ssl
api-luukgg.pem
api-luukgg.ppk
google-service.json
commands.md