<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Tournament App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Exo+2">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    <style>
      /* while CSS loads the page should already be dark */
      html, body, #container {
        display: flex;
        flex-grow: 1;
        background: #353535;
        min-height: 100%;
      }
    </style>
  </head>
  <body>
    <div id="container"></div>
    <script src="<%= bundle %>"></script>
  </body>
</html>
