.content {
  padding: 0 16px;
}

.detailCard {
  background: rgba(255,255,255,0.5);
  display: inline-block;
  padding: 16px;
  line-height: 1.3;
}

.subtext {
  text-align: right;
  display: inline-block;
  margin: 0 0 10px 25px;
  font-style: italic;
}

.detailCard a {
  text-decoration: none;
  color: #333;
  line-height: 20px;
  vertical-align: middle;
  margin-top: 12px;
  display: inline-block;
}

.detailCard a i {
  vertical-align: middle;
  margin-right: 3px;
}