.header {
  padding: 18px 20px;
  display: flex;
}

.title {
  color: #fff;
  text-decoration: none;
  background: url("/apple-touch-icon.png") no-repeat;
  background-size: contain;
  white-space: nowrap;
  padding-left: 55px;
  line-height: 45px;
}

@media screen and (max-width: 1024px) {

  /* responsive? */

}
