@import '../variables';
@import '~bootstrap/scss/bootstrap';
@import '~@fontsource/sen/800.css';
@import '~@fontsource/open-sans/300.css';
@import '~@fontsource/open-sans/400.css';
@import '~@fontsource/open-sans/600.css';
@import '~@fontsource/open-sans/700.css';
@import '~@fontsource/open-sans/800.css';
@import '~@fortawesome/fontawesome-free/css/all';

html,
body {
  color: $white;
  background: $dark;
  font-family: 'Open Sans';
  font-weight: 600;
}

#root {
  height: 100vh;
}

.App {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  header {
    padding: 35px 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo {
      font-family: 'Sen';
      font-size: 30px;
      font-weight: 800;
      text-decoration: none;
      width: 150px;
      display: flex;
      margin-right: auto;
      padding: 0 30px 0 0;
      &.active {
        color: $primary;
      }
    }

    a {
      padding: 0 15px;
      white-space: nowrap;
      &.active {
        color: white;
      }
      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  main {
    display: flex;
    padding: 0 50px 50px;
    flex-grow: 1;
    align-items: flex-start;

    .spinner-border {
      margin: 100px auto 0;
      display: flex;
    }
  }
}
