@import '../variables';

.Gist {
  margin-top: 12px;
  .gist {
    font-size: 18px;
  }
  .gist-file {
    margin: 0;
  }
  .gist-data {
    padding-right: 0.5rem;
    background: #1d1f21;
    border-bottom-color: #1d1f21;
    .file-box > .file {
      margin-bottom: 0 !important;
    }
  }
  .gist-meta {
    text-align: center;
  }
  .gist-meta,
  .gist-file,
  .octotree_toggle,
  ul.comparison-list > li.title,
  button.button,
  a.button,
  span.button,
  button.minibutton,
  a.minibutton,
  span.minibutton,
  .clone-url-button > .clone-url-link {
    background: linear-gradient(#202020, #181818) !important;
    border-color: #383838 !important;
    border-radius: 0 0 3px 3px !important;
    text-shadow: none !important;
    color: #b5b5b5 !important;
  }
  .markdown-format pre,
  .markdown-body pre,
  .markdown-format .highlight pre,
  .markdown-body .highlight pre,
  body.blog pre,
  #facebox pre,
  .blob-expanded,
  .terminal,
  .copyable-terminal,
  #notebook .input_area,
  .blob-code-context,
  .markdown-format code,
  body.blog pre > code,
  .api pre,
  .api code,
  .CodeMirror,
  .highlight {
    background-color: #1d1f21 !important;
    color: #c5c8c6 !important;
  }
  .gist .blob-code {
    padding: 1px 10px !important;
    text-align: left;
    background: $dark;
    border: 0;
  }
  ::selection {
    color: #000;
    text-shadow: none;
  }
  ::-moz-selection {
    color: #000;
    text-shadow: none;
  }
  .blob-num {
    padding: 10px 8px 9px;
    text-align: right;
    color: #6b6b6b !important;
    border: 0;
  }
  .blob-code,
  .blob-code-inner {
    color: #c5c8c6 !important;
  }
  .pl-c,
  .pl-c span {
    color: #969896 !important;
    font-style: italic !important;
  }
  .pl-c1 {
    color: #de935f !important;
  }
  .pl-cce {
    color: #de935f !important;
  }
  .pl-cn {
    color: #de935f !important;
  }
  .pl-coc {
    color: #de935f !important;
  }
  .pl-cos {
    color: #b5bd68 !important;
  }
  .pl-e {
    color: #f0c674 !important;
  }
  .pl-ef {
    color: #f0c674 !important;
  }
  .pl-en {
    color: #f0c674 !important;
  }
  .pl-enc {
    color: #de935f !important;
  }
  .pl-enf {
    color: #f0c674 !important;
  }
  .pl-enm {
    color: #f0c674 !important;
  }
  .pl-ens {
    color: #de935f !important;
  }
  .pl-ent {
    color: #b294bb !important;
  }
  .pl-entc {
    color: #f0c674 !important;
  }
  .pl-enti {
    color: #f0c674 !important;
    font-weight: 700 !important;
  }
  .pl-entm {
    color: #c66 !important;
  }
  .pl-eoa {
    color: #b294bb !important;
  }
  .pl-eoac {
    color: #c66 !important;
  }
  .pl-eoac .pl-pde {
    color: #c66 !important;
  }
  .pl-eoai {
    color: #b294bb !important;
  }
  .pl-eoai .pl-pde {
    color: #b294bb !important;
  }
  .pl-eoi {
    color: #f0c674 !important;
  }
  .pl-k {
    color: #b294bb !important;
  }
  .pl-ko {
    color: #b294bb !important;
  }
  .pl-kolp {
    color: #b294bb !important;
  }
  .pl-kos {
    color: #de935f !important;
  }
  .pl-kou {
    color: #de935f !important;
  }
  .pl-mai .pl-sf {
    color: #c66 !important;
  }
  .pl-mb {
    color: #b5bd68 !important;
    font-weight: 700 !important;
  }
  .pl-mc {
    color: #b294bb !important;
  }
  .pl-mh .pl-pdh {
    color: #de935f !important;
  }
  .pl-mi {
    color: #b294bb !important;
    font-style: italic !important;
  }
  .pl-ml {
    color: #b5bd68 !important;
  }
  .pl-mm {
    color: #c66 !important;
  }
  .pl-mp {
    color: #81a2be !important;
  }
  .pl-mp1 .pl-sf {
    color: #81a2be !important;
  }
  .pl-mq {
    color: #de935f !important;
  }
  .pl-mr {
    color: #b294bb !important;
  }
  .pl-ms {
    color: #b294bb !important;
  }
  .pl-pdb {
    color: #b5bd68 !important;
    font-weight: 700 !important;
  }
  .pl-pdc {
    color: #969896 !important;
    font-style: italic !important;
  }
  .pl-pdc1 {
    color: #de935f !important;
  }
  .pl-pde {
    color: #de935f !important;
  }
  .pl-pdi {
    color: #b294bb !important;
    font-style: italic !important;
  }
  .pl-pds {
    color: #b5bd68 !important;
  }
  .pl-pdv {
    color: #c66 !important;
  }
  .pl-pse {
    color: #de935f !important;
  }
  .pl-pse .pl-s2 {
    color: #de935f !important;
  }
  .pl-s {
    color: #b294bb !important;
  }
  .pl-s1 {
    color: #b5bd68 !important;
  }
  .pl-s2 {
    color: #c5c8c6 !important;
  }
  .pl-mp .pl-s3 {
    color: #b294bb !important;
  }
  .pl-s3 {
    color: #81a2be !important;
  }
  .pl-sc {
    color: #c5c8c6 !important;
  }
  .pl-scp {
    color: #de935f !important;
  }
  .pl-sf {
    color: #dad085 !important;
  }
  .pl-smc {
    color: #f0c674 !important;
  }
  .pl-smi {
    color: #c5c8c6 !important;
  }
  .pl-smp {
    color: #c5c8c6 !important;
  }
  .pl-sok {
    color: #b294bb !important;
  }
  .pl-sol {
    color: #b5bd68 !important;
  }
  .pl-som {
    color: #c66 !important;
  }
  .pl-sr {
    color: #c66 !important;
  }
  .pl-sra {
    color: #b294bb !important;
  }
  .pl-src {
    color: #b294bb !important;
  }
  .pl-sre {
    color: #b294bb !important;
  }
  .pl-st {
    color: #b294bb !important;
  }
  .pl-stj {
    color: #c5c8c6 !important;
  }
  .pl-stp {
    color: #de935f !important;
  }
  .pl-sv {
    color: #de935f !important;
  }
  .pl-v {
    color: #de935f !important;
  }
  .pl-vi {
    color: #de935f !important;
  }
  .pl-vo {
    color: #c66 !important;
  }
  .pl-vpf {
    color: #de935f !important;
  }
  .pl-mi1 {
    color: #8f9d6a !important;
    background: rgba(0, 64, 0, 0.5) !important;
  }
  .pl-mdht {
    color: #8f9d6a !important;
    background: rgba(0, 64, 0, 0.5) !important;
  }
  .pl-md {
    color: #c66 !important;
    background: rgba(64, 0, 0, 0.5) !important;
  }
  .pl-mdhf {
    color: #c66 !important;
    background: rgba(64, 0, 0, 0.5) !important;
  }
  .pl-mdr {
    color: #de935f !important;
    font-weight: 400 !important;
  }
  .pl-mdh {
    color: #c66 !important;
    font-weight: 400 !important;
  }
  .pl-mdi {
    color: #c66 !important;
    font-weight: 400 !important;
  }
  .pl-ib {
    background-color: #c66 !important;
  }
  .pl-id {
    background-color: #c66 !important;
    color: #fff !important;
  }
  .pl-ii {
    background-color: #c66 !important;
    color: #fff !important;
  }
  .pl-iu {
    background-color: #c66 !important;
  }
  .pl-mo {
    color: #c5c8c6 !important;
  }
  .pl-mri {
    color: #de935f !important;
  }
  .pl-ms1 {
    background-color: #c5c8c6 !important;
  }
  .pl-va {
    color: #de935f !important;
  }
  .pl-vpu {
    color: #de935f !important;
  }
  .pl-entl {
    color: #c5c8c6 !important;
  }
  .CodeMirror-gutters {
    background: #222 !important;
    border-right: 1px solid #484848 !important;
  }
  .CodeMirror-guttermarker {
    color: #fff !important;
  }
  .CodeMirror-guttermarker-subtle {
    color: #aaa !important;
  }
  .CodeMirror-linenumber {
    color: #aaa !important;
  }
  .CodeMirror-cursor {
    border-left: 1px solid #fff !important;
  }
  .CodeMirror-activeline-background {
    background: #27282e !important;
  }
  .CodeMirror-matchingbracket {
    outline: 1px solid grey !important;
    color: #fff !important;
  }
  .cm-keyword {
    color: #f9ee98 !important;
  }
  .cm-atom {
    color: #fc0 !important;
  }
  .cm-number {
    color: #ca7841 !important;
  }
  .cm-def {
    color: #8da6ce !important;
  }
  .cm-variable-2,
  span.cm-tag {
    color: #607392 !important;
  }
  .cm-variable-3,
  span.cm-def {
    color: #607392 !important;
  }
  .cm-operator {
    color: #cda869 !important;
  }
  .cm-comment {
    color: #777 !important;
    font-style: italic !important;
    font-weight: 400 !important;
  }
  .cm-string {
    color: #8f9d6a !important;
  }
  .cm-string-2 {
    color: #bd6b18 !important;
  }
  .cm-meta {
    background-color: #141414 !important;
    color: #f7f7f7 !important;
  }
  .cm-builtin {
    color: #cda869 !important;
  }
  .cm-tag {
    color: #997643 !important;
  }
  .cm-attribute {
    color: #d6bb6d !important;
  }
  .cm-header {
    color: #ff6400 !important;
  }
  .cm-hr {
    color: #aeaeae !important;
  }
  .cm-link {
    color: #ad9361 !important;
    font-style: italic !important;
    text-decoration: none !important;
  }
  .cm-error {
    border-bottom: 1px solid red !important;
  }
  #notebook .highlight table {
    background: #1d1f21 !important;
    color: #c5c8c6 !important;
  }
  .highlight .hll {
    background-color: #373b41 !important;
  }
  .highlight .c {
    color: #969896 !important;
  }
  .highlight .err {
    color: #c66 !important;
  }
  .highlight .k {
    color: #b294bb !important;
  }
  .highlight .l {
    color: #de935f !important;
  }
  .highlight .h,
  .highlight .n {
    color: #c5c8c6 !important;
  }
  .highlight .o {
    color: #8abeb7 !important;
  }
  .highlight .p {
    color: #c5c8c6 !important;
  }
  .highlight .cm {
    color: #969896 !important;
  }
  .highlight .cp {
    color: #969896 !important;
  }
  .highlight .c1 {
    color: #969896 !important;
  }
  .highlight .cs {
    color: #969896 !important;
  }
  .highlight .gd {
    color: #c66 !important;
  }
  .highlight .ge {
    font-style: italic !important;
  }
  .highlight .gh {
    color: #c5c8c6 !important;
    font-weight: 700 !important;
  }
  .highlight .gi {
    color: #b5bd68 !important;
  }
  .highlight .gp {
    color: #969896 !important;
    font-weight: 700 !important;
  }
  .highlight .gs {
    font-weight: 700 !important;
  }
  .highlight .gu {
    color: #8abeb7 !important;
    font-weight: 700 !important;
  }
  .highlight .kc {
    color: #b294bb !important;
  }
  .highlight .kd {
    color: #b294bb !important;
  }
  .highlight .kn {
    color: #8abeb7 !important;
  }
  .highlight .kp {
    color: #b294bb !important;
  }
  .highlight .kr {
    color: #b294bb !important;
  }
  .highlight .kt {
    color: #f0c674 !important;
  }
  .highlight .ld {
    color: #b5bd68 !important;
  }
  .highlight .m {
    color: #de935f !important;
  }
  .highlight .s {
    color: #b5bd68 !important;
  }
  .highlight .na {
    color: #81a2be !important;
  }
  .highlight .nb {
    color: #c5c8c6 !important;
  }
  .highlight .nc {
    color: #f0c674 !important;
  }
  .highlight .no {
    color: #c66 !important;
  }
  .highlight .nd {
    color: #8abeb7 !important;
  }
  .highlight .ni {
    color: #c5c8c6 !important;
  }
  .highlight .ne {
    color: #c66 !important;
  }
  .highlight .nf {
    color: #81a2be !important;
  }
  .highlight .nl {
    color: #c5c8c6 !important;
  }
  .highlight .nn {
    color: #f0c674 !important;
  }
  .highlight .nx {
    color: #81a2be !important;
  }
  .highlight .py {
    color: #c5c8c6 !important;
  }
  .highlight .nt {
    color: #8abeb7 !important;
  }
  .highlight .nv {
    color: #c66 !important;
  }
  .highlight .ow {
    color: #8abeb7 !important;
  }
  .highlight .w {
    color: #c5c8c6 !important;
  }
  .highlight .mf {
    color: #de935f !important;
  }
  .highlight .mh {
    color: #de935f !important;
  }
  .highlight .mi {
    color: #de935f !important;
  }
  .highlight .mo {
    color: #de935f !important;
  }
  .highlight .sb {
    color: #b5bd68 !important;
  }
  .highlight .sc {
    color: #c5c8c6 !important;
  }
  .highlight .sd {
    color: #969896 !important;
  }
  .highlight .s2 {
    color: #b5bd68 !important;
  }
  .highlight .se {
    color: #de935f !important;
  }
  .highlight .sh {
    color: #b5bd68 !important;
  }
  .highlight .si {
    color: #de935f !important;
  }
  .highlight .sx {
    color: #b5bd68 !important;
  }
  .highlight .sr {
    color: #b5bd68 !important;
  }
  .highlight .s1 {
    color: #b5bd68 !important;
  }
  .highlight .ss {
    color: #b5bd68 !important;
  }
  .highlight .bp {
    color: #c5c8c6 !important;
  }
  .highlight .vc {
    color: #c66 !important;
  }
  .highlight .vg {
    color: #c66 !important;
  }
  .highlight .vi {
    color: #c66 !important;
  }
  .highlight .il {
    color: #de935f !important;
  }
}
