@import '../variables';

.Learn {
  display: flex;
  padding: 30px;
  margin: 0 auto;
  ul {
    list-style: none;
    padding: 0;
    li {
      border-left: 4px solid $orange;
      margin: 4px 0;
      background: rgba(white, 0.1);
      padding: 8px 16px 8px 8px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      cursor: pointer;
      &:hover,
      &.active {
        background: rgba(white, 0.2);
      }
    }
  }
  .content {
    padding: 0 30px;
    max-width: 800px;
    > div {
      padding: 12px 0;
      &.chapter-not-found {
        width: 800px;
        opacity: 0.7;
      }
      &.client-server {
        display: flex;
        font-size: 40px;
        align-items: center;
        color: white;
        p {
          display: flex;
          flex-grow: 1;
          flex-basis: 0;
          align-items: center;
          justify-content: center;
          flex-wrap: wrap;
          margin: 20px 0;
          small {
            font-size: 14px;
            margin-top: 20px;
            width: 100%;
            text-align: center;
            color: white;
            font-weight: bold;
          }
          svg {
            margin: 0 8px;
            opacity: 0.9;
          }
        }
        > small svg {
          margin-bottom: 25px;
          font-size: 25px;
          color: white;
          opacity: 0.7;
        }
      }
      &.typescript {
        background: #0066b8;
        text-align: center;
        border-radius: 4px;
        font-size: 30px;
        font-weight: 300;
        margin: 12px 0;
      }
    }
    code {
      color: $yellow;
      white-space: nowrap;
    }
    img {
      width: 100%;
      margin: 12px 0;
      &.react,
      &.nodejs {
        max-width: 400px;
        display: block;
        margin: 12px auto;
      }
    }
    a {
      color: $orange;
      &:hover {
        color: lighten($orange, 5);
      }
    }
  }
}
