@import '../variables';

.Recipe {
  max-width: 700px;
  min-width: 400px;
  background: rgba(black, 0.2);
  border-radius: 8px;
  margin: 0 25px 30px;
  overflow: hidden;
  flex-grow: 1;
  flex-basis: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 1200px) {
    min-width: 100%;
    max-width: 100%;
    margin: 0;
    border-radius: 0;
  }

  .image-placeholder {
    position: relative;
    min-height: 200px;
    background: rgba(black, 0.2);
    &.my-image:hover > img {
      opacity: 0.2;
      z-index: 0;
    }

    > img {
      transition: opacity 200ms;
      position: relative;
      z-index: 1;
    }

    .upload-image {
      position: absolute;
      width: 240px;
      left: calc(50% - 120px);
      top: calc(50% - 35px);
    }

    .creator {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      z-index: 1;
      pointer-events: none;
      padding: 12px 20px;
      background: rgba(darken($dark, 2), 0.8);

      img {
        width: 20px;
        border-radius: 50%;
        margin-right: 8px;
      }

      small {
        margin-left: auto;
        opacity: 0.8;
      }
    }
  }

  .content {
    padding: 30px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .meta {
      display: flex;
      padding-left: 5px;
      > small {
        padding: 0 12px;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        &:first-of-type {
          padding-left: 0;
        }

        .difficulty-icon {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          display: inline-block;
          &.level-1 {
            background: lighten($green, 20);
          }
          &.level-2 {
            background: $orange;
          }
          &.level-3 {
            background: $red;
          }
        }

        b {
          opacity: 0.5;
          margin-right: 5px;
        }
      }
    }

    input,
    textarea {
      background: transparent;
      color: $white;
      border: 0;
      padding: 0;
      outline: 0;
      box-shadow: none;
      &.edit-title {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 2.5rem;
        height: 1em;
        margin-bottom: 12px;
      }
      &.edit-text {
        background: rgba(black, 0.1);
        margin: 12px 0 30px;
        padding: 12px;
        border-radius: 8px;
      }
      &.edit-duration {
        font-size: 13px;
      }
      &.edit-difficulty {
        width: 50px;
        margin-left: 12px;
      }
    }

    .btn-success,
    .btn-outline-danger {
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      box-shadow: none;

      svg {
        margin-right: 5px;
      }
    }

    .toggle {
      display: flex;
      margin-top: auto;
      padding-top: 20px;
      width: 100%;
      > span,
      > b {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(black, 0.2);
        height: 50px;
        cursor: pointer;
        &:hover {
          background: rgba(black, 0.4);
        }
      }
    }
  }

  img {
    width: 100%;
    pointer-events: none;
  }

  h1,
  h2 {
    font-weight: 600;
  }

  .text {
    line-height: 1.7;
  }
}
